*{
  box-sizing: border-box;
}
/*-------------------チェック-------------------*/
/* .container,.header-menu,.section-title,.contact-form,.contact-name,.copyright,footer,footer li,.social-icon{
  border: 1px solid black;
}
.images{
  border: 1px solid black;

}
header{
  background-color: lightpink;
}
main{
  background-color: aquamarine;
}
footer{
  background-color: lightgreen;
} */


/*--------------------共通-----------------------*/
.container{
  width:1080px;
  margin:auto;
  color: grey;
  padding: 40px 0px;
}

li{
  list-style: none;
}
h2{
  color:black;
}
a{
  color: gray;
}
a:hover{
  color: black;
}
/*------------------header-----------------------*/
.header-menu{
  float: right;
  padding: 0px;
}
.header-menu-right{
  padding: 0px;
}

/*----------------Contact form---------------------*/

.section-title{
  padding:20px 0px;
  text-align: center;
  margin-bottom: 10px;
}

.section-message{
  text-align: center;
  margin-bottom: 80px;
  /* border: 1px solid; */

}

.contact-form{
  text-align: center;
  position: relative;

}
.contact-name{
  text-align: right;
  position: absolute;
  right: 760px;
  top: 10px; 
}
.contact-name p{
  padding-bottom: 5px;
}

input,textarea{
  border: 1px solid gray;
  width: 400px;
}
textarea{
  height: 200px;
}
/*---------------------gallery------------------*/
.opuses{
  margin: auto;
  width: 600px;
  height: auto;
}
.opus{
  float: left;
  width: 180px;
  height: 180px;
  border: 1px solid;
  margin-right: 30px;
  margin-bottom: 30px;
}
.opus img{
  width:100%;
  height: 100%;
}

/*---------------------works-------------------*/
.section-message li{
  display: inline-block;
  margin: 0px 20px;
  /* border: 1px solid; */
}
.works{
  margin: auto;
  width: 660px;
  height: auto;
}
.work{
  float: left;
  width: 200px;
  height: 180px;
  border: 1px solid;
  margin-right: 30px;
  margin-bottom: 30px;
}
.work img{
  width:100%;
  height: 100%;
}
.mod2{
  margin-right: 0px;
}
/*---------------------footer-------------------*/
footer{
  border-top: 1px solid black;
  margin-top: 60px;
}
.copyright{
  float:left;
  margin-right:150px;
}
footer li{
  float:left;
  margin-right: 50px;
}
.follow-us{
  float: right;
  margin-right: 120px;
}
.social-icon{
  margin-right:10px;
}
